 {{#each blogs}}
  <div class="blog-post">
    <div class="blog-header">
      <h2 class="blog-title">{{title}}</h2>
      <p class="blog-author">
          Posted by {{user.name}} on {{format_date date_created}}
      </p>
    </div>
    <p>{{content}}</p>
  </div>
{{/each}}