
:root {
    --nav-backgroud-color: rgb(63, 61, 61);
    --nav-text-color: rgb(179, 229, 179);
    --blog-post-color: rgb(218, 208, 208);
}
nav  {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-backgroud-color);
}

nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav li {
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
}   
 nav li a {
    text-decoration: none;
    color: var(--nav-text-color)
 }

nav div h1 {
    color: black;
    background-color: var(--nav-text-color);
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    width: max-content;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--nav-text-color);
    color: var(--nav-backgroud-color);
}

.blog {
    width: 100%;

    background-color: var(--nav-text-color);
    color: var(--nav-backgroud-color);
    border: solid;
    border-radius: 5px;

}

.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--nav-backgroud-color);
    color: var(--blog-post-color);
}

.blog-auth {
    font-size: 20px;
}

/* CARDS */
.card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  