
:root {
    --primary: rgb(63, 61, 61);
    --secondary: rgb(179, 229, 179);
    --tertiary: rgb(218, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

nav ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav li {
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    font-style: arial;
}

 nav li a {
    text-decoration: none;
    color: var(--secondary);
 }

nav div h1 {
    color: black;
    background-color: var(--secondary);
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 10px;
    width: max-content;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    color: var(--secondary);
  }

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.blog-post-color {
    background-color: var(--secondary);
    color: var(--primary);
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: max-content;
    background-color: var(--secondary);
    color: var(--primary);
    margin: 10px;
    width: 80%;
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid;
    border-radius: 5px;
}

.blog-header-color {
    background-color: var(--primary);
    color: var(--tertiary);
}

.blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--tertiary);
    padding: 2px 2px;
}

.blog-author {
    font-size: 20px;
}

/* CARDS */
.card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }

#new-post-button {
    background-color: var(--primary);
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    align-self: center;    
}

#new-blog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
